<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="Main" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs//ptz-probe-%utcdate{yyyy-MM-dd_HH-mm-ss}.txt" />
		<rollingStyle value="Date" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<maximumFileSize value="1GB" />
		<maxSizeRollBackups value="3" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate{ISO8601} %-5level %-18logger %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="Main" />
	</root>
</log4net>